
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    font-size: 16px;

}
.btn{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.sectionOne{
    /* background-color: linear-gradient(to bottom right, #013444 , #4ab064); */
    background-image: url('img/bg.png');
    background-position: center;
    height: 95vh;
    position: relative;
}
#quizCover{
    /* display: none; */
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 60%;
    border-radius: 4px; 
}

#quizPool{
    display: none;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 8px  black;
    border: 1px solid #ffffff;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 60%;
    text-align: center;
}

.flexInputOne{
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    margin-top: 10px;
    padding: 5px 10px;
    align-self: center;
}
.flexInputTwo{
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    padding: 5px 10px;    
    align-self: center;
    
}
#question{
    margin-right: 43%;
    margin-top: 10px;
    color: #013444;
    align-self: left;
}
.option{
    height: 50px;
    width: 30%;
    background-color: #eee;
    border-radius: 5px;
    margin-left: 20px;

}
#optOne,
#optTwo,
#optThree,
#optFour{
   color: #51b64b;
   margin-left: 10px;
}
.inputRadio{
    margin-left: 15px;
    margin-top: 7%;

}
.option:hover{
    background-color: #013444;
    color: #ffffff;
    cursor: pointer;
}
.next-btn{
    margin-left: 70%;
    font-size: 12px;
    margin-bottom: 20px;
 
}
.next-btn:hover{
    background-color: #013444;
    font-size: 12px;
}
/* .prev-btn{
    margin-right: 50%;
    font-size: 12px;
    margin-bottom: 20px;
} */
.progressBar{
    color: #51b64b;
}

#showResults{
    display: none;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 8px  black;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 60%;
    border-radius: 4px;
}

#resultScore{
    color : #51b64b;
    margin-top: 5%;
    margin-bottom: 
}
.doneButton{
    position: absolute;
    margin-left: 45%;
    margin-top: 20%;
    
    
}
/* loader */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  /* .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  } */
  

.site-footer{
    color: #013444;
}
